<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFServices/DuplexService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexService"
                contract="IDuplexService" name="WSDualHttpBinding_IDuplexService" />
        </client>
    </system.serviceModel>
</configuration>